// Layout Styles

// Display border-box by defailt
// https://css-tricks.com/box-sizing/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

// Containers
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 $spacer-15x-x;
}

.grid {
  display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 24Spx;
}

.movetoleft {
  
  margin-top: -35px;
}

.adoptform {
  max-width: 400px;
  width: 400px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;

}

.gform_footer {
  text-align: center;
  margin: 0 auto;

}

.adoptcontainer {
    background: #fff;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  padding-top: 25px;
  height: 100%;
  border-left: 9px solid #e57662;
  border-right: 9px solid #e57662;

  
}

.nameform {
  max-width: 400px;
}

.dogquote {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
  text-align: center;
  max-width: 720px;
 
  margin: 0 auto;
}

.spancolor {
  color: #e57662;
}

.authorcolor {
  font-size: 15px;

}

.adjustauthorheight {
  margin-top: -25px;
}




.dogadoptinfo {
  max-width: 400px;
  width: 400px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
}

.fosterform {
    max-width: 400px;
  width: 400px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}


.savealife {
  color: #e57662;
}


.fostersubhead {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
  text-align: center;
  max-width: 720px;
 
  margin: 0 auto;
}


#gform_submit_button_3 {
    color: #fff;
    font-size: 35px;
}

#gform_submit_button_2 {
    color: #fff;
    font-size: 35px;
}

#gform_submit_button_1 {
    color: #fff;
    font-size: 35px;
}



.gform_button button {
     color: #e57662;
}



.gform_footer input{
   background-color: #e57662;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   border-width: 0px;
   font-size: 30px;

   
}

.gform_footer input:hover{
   background-color: #7b2a3b;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   border-width: 0px;
   font-size: 30px;

   
}


.donateform {
  max-width: 400px;
  width: 400px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;

}

.puppyimages {
  margin: 0 auto;
  width: 400px;
}

.puppyimages img{

  text-align: center;
  max-width: 400px;
 
  margin: 0 auto;
}


.dogexample {
  margin: 0 auto;
  width: 300px;
}

.dogexample img {
  text-align: center;
  max-width: 300px;
 
  margin: 0 auto;
 
  
  
}


.commentcontainer {
    background: #fff;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  padding-top: 25px;
  height: 100%;
  border-left: 9px solid #e57662;
  border-right: 9px solid #e57662;
  font-family: 'Yanone Kaffeesatz', sans-serif;

  
}

.commentform {
  max-width: 400px;
  width: 400px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;

}




@media only screen and (max-width: 800px) {
    .dogexample {
        display: none;
    }

    
}

